# This file can be used in addition to the `requirements.txt` file that is located at the root of
# the repository to install additional dependencies that are required by Python scripts located at
# `scripts/custom/*`.